
/* --- Style général de la popup --- */
.popup-card {
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0, 0, 8);
    -fx-alignment: center;
    -fx-spacing: 15;
}

/* --- Image de l'événement --- */
.popup-image {
    -fx-border-radius: 12px;
}

/* --- Titre de l'événement --- */
.popup-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #1c2b5d;
}

/* --- Texte de description et des détails --- */
.popup-text {
    -fx-font-size: 14px;
    -fx-text-fill: #6a6a5a;
    -fx-text-alignment: center;
}

/* --- Bouton de fermeture --- */
.popup-button {
    -fx-background-color: #d54d67;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.popup-button:hover {
    -fx-background-color: #b03c54;
}
/* --- Bouton de partage --- */
.popup-button-share {
    -fx-background-color: #4267B2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.popup-button-share:hover {
    -fx-background-color: #365899;
}